.container{
    margin: 0;
    margin-bottom: -15px;
    display: grid;
    width: 100vw;
    height: 100%;
    /* background-color: #26232c; */
    background-color: #6a7786;
    justify-content: center;
}

.feed{
   
    /* background-color: #403945; */
    background-color: #909dac;
    width: 800px;
    min-height: 100vh;
    text-align: center;
    
    
}

.post{
    margin: 50px;
    font-size: 30px;
    /* inline-size: 150px; */
    overflow-wrap: break-word;
}

.feed img{
   
        border: 1px solid white;
        border-radius: 10px;
        width: 384px;
        height: 384px;
   }

.feedTop{
    margin-top: 0px;
    
    margin-bottom: 150px;
    text-align: center;
    justify-content: center;
    /* background-image: url("../images/usam.png");
    background-repeat: no-repeat; */
    
    height: 144px;
   
    /* background-color:rgb(10, 10, 10); */
}

.feedTop img{
    height: 192px;
    width: 192px;
    border: 0;
   
}

.formWrapper{
    display: grid;
    background-color: #6a7786;
    height: 100vh;
    width: 100vw;
    
}


.form{
    
    justify-content: center;
    text-align: center;
    top: 40%;
    left: 32%;
    position: absolute;
}